postmaster@solidstate.com.au   solidstate.com.au/cam/
cam@solidstate.com.au    solidstate.com.au/cam/
cam-lists@solidstate.com.au    solidstate.com.au/cam/
ios@solidstate.com.au    solidstate.com.au/cam/
marnie@solidstate.com.au   marnie/
doctormarnie@solidstate.com.au   marnie/

postmaster@snoremac.com   snoremac.com/cam/
cam@snoremac.com    snoremac.com/cam/

postmaster@andrewbeecher.com   solidstate.com.au/cam/
andy@andrewbeecher.com   andrewbeecher.com/andy/
andrew@andrewbeecher.com   andrewbeecher.com/andy/
me@andrewbeecher.com   andrewbeecher.com/andy/
